a {
    text-decoration: none !important;
    color: inherit !important;
}

.home {
    display: flex;
}

.productList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    width: 78%;
}

.filters {
    display: flex;
    background-color: #343a40;
    color: white;
    width: 20%;
    padding: 20px;
    margin: 10px;
    flex-direction: column;
}

.filters > span {
    padding-bottom: 10px;
}

.title {
    font-size: 30px;
}

.cartItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    margin-bottom: 20px;
}

.cartImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.cartItemDetail {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 20px;
    padding: 0 10px;
}
